/* CSS RESET BY DIGITAL OCEAN */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* CSS RESET BY DIGITAL OCEAN */

body {
  background: radial-gradient(#0c0075, #050030);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vw;
}

.board {
  border: 2px solid black;
  width: clamp(300px, 30vw, 700px);
  height: clamp(300px, 30vw, 700px);

  display: flex;
  flex-direction: column;
  margin: 10px;
}

.row {
  flex: 1;
  display: flex;
}

.cell {
  border: clamp(0.5px, 0.5vw, 1px) solid white;
  margin: 1px;
  flex: 1;
}

.player-1-title,
.enemy-title {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.ship {
  background-color: #00950c;
}

.enemy-board > .shot {
  background-color: #ff0000;
}
